.profile{
    width: 230px;
    height: 320px;
    background-color: #FA6C6C;
    margin: 30px auto;
    border-radius: 16px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.avatar{
    width: 120px;
    height: 150px;
    padding: 5px ;
    border: 2px solid #f63913;
    background-color: #f8f8f8;
    border-radius: 50px;
}
.name{

font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.17;

color: #FFFFFF;
}

.tag{
color: #FFFFFF;
}

.location{
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.14;
    color: #FFFFFF;
}

.stats{
    padding: 5px;
    display: flex;
    justify-content: center;
    gap:5px;   

}

.stats__items{
    min-width: 65px;
    border-radius: 4px;
    border: 1px solid #f63913;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
   

}

.label{
    
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
}

.quantity{
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #FA6C6C;
}